@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: "Josefin Sans", sans-serif;
}

ul li {
  position: relative;
}

ul li::before {
  content: "";
  position: absolute;
  height: 1.8rem;
  width: 1.8rem;
  background-image: url("icon-cross.svg");
  right: 2.4rem;
  scale: 0;
  transition: 0.3s ease;
  cursor: pointer;
}

ul li:hover::before {
  scale: 1;
}
.desktopImg {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 300px;
  top: 0;
}

.mobileImg {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 200px;
  top: 0;
}

.custom-checkbox {
  width: 24px; /* Adjust the width of the checkbox */
  height: 24px; /* Adjust the height of the checkbox */
  appearance: none; /* Remove default styles (for some browsers) */
  border: 1px solid #e3e4f1; /* Border style */
  border-radius: 50%;
  background-color: inherit; /* Background color when unchecked */
  cursor: pointer;
}

.custom-checkbox:checked {
  background: linear-gradient(135deg, #5df 0%, #c058f3 100%);
  display: flex;
  justify-content: center;
}

.custom-checkbox::after {
  content: "\2713"; /* Unicode checkmark character */
  font-size: 16px; /* Adjust the size of the checkmark */
  color: #fff; /* Color of the checkmark when checked */
  display: none;
  margin-top: 1px;
}

.custom-checkbox:checked::after {
  display: block;
}

@media (max-width: 1023px) {
  ul li::before {
    display: none;
  }
}

@media (max-width: 549px) {
  .custom-checkbox {
    width: 20px;
    height: 20px;
  }

  .custom-checkbox::after {
    font-size: 13px;
  }
}
